body{
    font-family: 'Roboto', sans-serif;
    margin:0px
}
header{
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
}
.about{
    width: 15%;
    font-size: 30px;
    font-weight: bold;
    background-color: hotpink;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    
}
.technology{
    width: 15%;
    font-weight: bold;
    font-size: 30px;
    background-color: hotpink;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.download{
    width: 15%;
    font-weight: bold;
    font-size: 30px;
    background-color: hotpink;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.notice{
    width: 15%;
    font-weight: bold;
    font-size: 30px;
    background-color: hotpink;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.gallary{
    width: 15%;
    font-weight: bold;
    font-size: 30px;
    background-color: hotpink;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
    margin-right: 25px;
}
.about:hover{
    color: navy;
    background: red;

}
.technology:hover{
    color: navy;
    background: red;

}
.download:hover{
    color: navy;
    background: red;

}
.notice:hover{
    color: navy;
    background: red;

}
.gallary:hover{
    color: navy;
    background: red;
}
.section1{
    display: flex;
}
.span{
    color: coral;
}
.nav-first{
    width: 50%;
    height: 50%;
    margin-top: 2%;
    padding-left: 20%;

}
.nav-second{
    width: 50%;
   

}
.nav-second img{
    width: 80%;
    height: 80%;
}

a{
    padding: 1% 3%;
    background-color: indianred;
    border-radius: 40%;
    text-decoration: none;
}

.section2{
    display: flex;
    background-image: url(images/shapes/7.png);
  
}
.nav-third img{
    width: 100%;
    height: 100%;
    margin-left: 50%;
}
.nav-fourth{
    width: 30%;
   margin-left: 20%;
   margin-top: 10%;
   padding-right:5%;
}
.recipie{
    text-align: center;
}
.about-recipie{
    text-align: center;
}
.section3{
    display:flex;
    margin-left: 3%;
}
.nav-five img{
    width: 90%;
    border-radius: 10%;
}
.nav-six img{
    width: 90%;
    border-radius: 10%;
}
.nav-seven img{
    width: 90%;
    border-radius: 10%;
}
.recipie-title1{
    margin-right: 10%;
}
.recipie-title2{
    margin-right: 10%;
}
.recipie-title3{
    margin-right: 10%;
}

.nav-five{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-left: 2%;
    border-radius: 7%;
    box-shadow: 2px 2px 15px 15px gray
}
.nav-six{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-left: 2%;
    border-radius: 7%;
    box-shadow: 2px 2px 15px 15px gray

}
.nav-seven{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-left: 2%;
    border-radius: 7%;
    box-shadow: 2px 2px 15px 15px gray
}

.section4{
    display: flex;
    height: 80%;
    width: 75%;
    margin-top:5%;
    margin-bottom: 10%;
    margin-left: 8%;
    margin-right: 8%;
    padding-left: 12%;
    padding-bottom: 5%;
    border-radius: 1%;
    background-color: rgb(246, 246, 248);
    box-shadow: 2px 2px 15px 15px gray
}
.youtube{
    width: 30%;
    padding-left: 8%;


}
.instagram{
    width: 30%;
  
}
.twiter{
    width: 30%;

}
.foter{
    height: 90%;
    margin-bottom: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
    color: white;
    text-align: center;
    background-color: black;
}
.span1{
    color: coral;
}
.span2{
    color:gray;
}