body{
    font-family: 'Roboto', sans-serif;
    margin:0px
}
.section1{
    display: flex;
}
.span{
    color: coral;
}
.nav-first{
    width: 50%;
    height: 50%;
    margin-top: 2%;
    padding-left: 20%;

}
.nav-second{
    width: 50%;
   

}
.nav-second img{
    width: 80%;
    height: 80%;
}

a{
    padding: 1% 3%;
    background-color: indianred;
    border-radius: 40%;
    text-decoration: none;
}

.section2{
    display: flex;
    background-image: url(images/shapes/7.png);
  
}
.nav-third img{
    width: 100%;
    height: 100%;
    margin-left: 50%;
}
.nav-fourth{
    width: 30%;
   margin-left: 20%;
   margin-top: 10%;
   padding-right:5%;
}
.recipie{
    text-align: center;
}
.about-recipie{
    text-align: center;
}
.section3{
    display:flex;
    margin-left: 5%;
}
.nav-five img{
    width: 90%;
    border-radius: 10%;
}
.nav-six img{
    width: 90%;
    border-radius: 10%;
}
.nav-seven img{
    width: 90%;
    border-radius: 10%;
}
.recipie-title1{
    margin-right: 10%;
}
.recipie-title2{
    margin-right: 10%;
}
.recipie-title3{
    margin-right: 10%;
}

.nav-five{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-left: 2%;
    border-radius: 7%;
    box-shadow: 2px 2px 15px 15px gray
}
.nav-six{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-left: 2%;
    border-radius: 7%;
    box-shadow: 2px 2px 15px 15px gray

}
.nav-seven{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-left: 2%;
    border-radius: 7%;
    box-shadow: 2px 2px 15px 15px gray
}